
h1 {
  text-emphasis: center;
}

.container {
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  padding: 30px;
  border: solid black;
  border-width: 20px;
  background-color: lightgoldenrodyellow;
  box-sizing: border-box;
}

.box1 {
  text-align: center;
  border: solid purple;
  background-color: pink;
}


img {
  float: ;
  margin: auto;
  width: 30%;
  margin-bottom: 20px;
}

ul img {
  float: center;
  margin: auto;
  width: 25%;
  margin-bottom: 5%;
  box-sizing: border-box;
}

.fun {
  font-family: cursive;
}

.box6 {
  background-color: lightgoldenrodyellow;
}

.box5 {
  float: ;
  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;
  background-color: lightgoldenrodyellow;
  box-sizing: border-box;
}