
h1 {
  text-emphasis: center;
}

.container {
  margin: auto;
  margin-bottom: 5px;
  width: 100%;
  padding: 30px;
  border: solid #DCF7DD;
  border-width: 20px;
  background-color: lightgoldenrodyellow;
  box-sizing: border-box;
}

.box1 {
  text-align: center;
  border: solid #FFE0D4;
  border-width: 10px;
  background-color: #FFECFF;
}

.box3 {
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  padding: 50px;
  border: solid #FFB8B0;
  background-color: #FADCE0;
  box-sizing: border-box;
}

.box3 img {
  float: center;
  box-sizing: border-box;
  margin: auto;
  padding: 0px;
  width: 50%;
  box-sizing: border-box;

}

img {
  float: center;
  margin: auto;
  width: 30%;
  margin-bottom: 20px;
}


#fun {
  font-family: cursive;
  color: green;
}

.box6 {
  margin: center;
  padding-left: 10px;
  width: 100%;
  padding: 1%;
}

.box5 {

  margin: auto;
  margin-bottom: 50px;
  padding: 10px;
  width: 100%;

  box-sizing: border-box;
}

#problem {
  text-align: left;
  float: left;
  border: solid firebrick;
  padding: 10px;
  width: 49%;

}

#soulution {
float: right;
width: 49%;
border: solid palegreen;
padding: 10px;

}

#further {
  float: right;
  width: 100%;
  padding: 10px;
  }